<!DOCTYPE html>
<html>
  <head>
    <title>Rdok</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>

  </body>
</html>
